<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <!-- CK Editor 5 -->
  <script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script>
  <!-- Need this to use require implement -->
  <!-- <script src="static/js/requireJS.js"></script> -->
  <!-- External JavaScript -->
  <!-- <script src="static/js/index.js" defer></script> -->
  
  <style>
    .test {
      opacity: 1;
      width: 100%;
      filter: invert(10%) sepia(50%) saturate(0%) hue-rotate(10000deg) brightness(100%) contrast(100%);
    }
  </style>
</head>

<body>
  <form action="/api/posts/test" method="post">
    <input type="file" name="test">
    <input type="submit" value="">
  </form>
</body>

</script>

</html>