<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>

  <div class="container">
    <form action="/api/posts" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <input type="file" class="form-control-file" name="cover">
        <input type="submit" value="Get me the stats!" class="btn btn-default">            
      </div>
    </form>
  </div>
</body>

</html>